app/src/main/res/layout/activity_main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="androidx.constraintlayout.widget.ConstraintLayout" type="androidx.constraintlayout.widget.ConstraintLayoutType"/>
  <xs:complexType name="TextViewType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="and:layout_width" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:layout_height" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="and:text" xmlns:and="http://schemas.android.com/apk/res/android"/>
        <xs:attribute ref="res:layout_constraintBottom_toBottomOf" xmlns:res="http://schemas.android.com/apk/res-auto"/>
        <xs:attribute ref="res:layout_constraintLeft_toLeftOf" xmlns:res="http://schemas.android.com/apk/res-auto"/>
        <xs:attribute ref="res:layout_constraintRight_toRightOf" xmlns:res="http://schemas.android.com/apk/res-auto"/>
        <xs:attribute ref="res:layout_constraintTop_toTopOf" xmlns:res="http://schemas.android.com/apk/res-auto"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="androidx.constraintlayout.widget.ConstraintLayoutType">
    <xs:sequence>
      <xs:element type="TextViewType" name="TextView"/>
    </xs:sequence>
    <xs:attribute ref="and:layout_width" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="and:layout_height" xmlns:and="http://schemas.android.com/apk/res/android"/>
    <xs:attribute ref="tool:context" xmlns:tool="http://schemas.android.com/tools"/>
  </xs:complexType>
</xs:schema>